{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block menu %}
    <div class="navbar navbar-fixed-top navbar-material-brown">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav" style="text-align: center;">
                    <li><a href="{% url "home" %}">
                        <div class="navbar-logo">
                            <img src="{% static "images/picstore_logo.png" %}">
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="moved-down">
    <div class="detail">
    <div class="container">
        <div class="row">
            <h3>{% trans "Image:" %}</h3>
            <div class="col-sm-4">
                <img class="picture-detail" src="{{ picture.thumbnail.url }}">
            </div>
            <div class="col-sm-8">
                <h1>{{ picture.name }}</h1>
                <p>
                    {{ picture.short_descriptiontion }}
                </p>
                <table class="table">
                    <tr>
                        <td>
                            {% trans "Category" %}
                        </td>
                        <td>
                            {{ picture.category }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans "Description" %}
                        </td>
                        <td>
                            {{ picture.short_description }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans "Likes" %}
                        </td>
                        <td>
                            {{ picture.likes }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans "Price" %}
                        </td>
                        <td>
                            {{ picture.price }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            {% if request.user.is_authenticated %}
                                <a  id="add_cart" onclick="addToCart();" class="btn btn-material-amber" role="button">
                                    <span class="mdi-action-add-shopping-cart"></span>
                                    {% trans "Add to cart" %}
                                </a>
                                <a id="view_cart" href="{% url 'cart' %}" class="btn btn-material-teal" role="button" style="display: none">
                                    <span class="mdi-action-add-shopping-cart"></span>
                                    {% trans "View cart" %}
                                </a>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-material-amber" role="button">
                                    <span class="mdi-action-add-shopping-cart"></span>
                                    {% trans "Add to cart" %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <h3>{% trans "Tags:" %}</h3>
            {% for tag in tags %}
                <div class="tag">
                    <div class="label label-material-brown"># {{ tag.name }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h3>{% trans "Similar:" %}</h3>
            {% for s_pic in similar_pictures %}
                <div class="col-sm-3">
                    <a href="{% url "picture" s_pic.pk %}">
                        <img class="picture-detail-similar" src="{{ s_pic.thumbnail.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        addToCart = function () {
            $.ajax({
                url: '{% url "add_to_cart" %}',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        picture_pk: {{ picture.pk }},
                        user_pk: {{ user.pk }}
                    }
                ),
                success: function (data) {
                    document.getElementById("add_cart").style.display = 'none';
                    document.getElementById("view_cart").style.display = '';
                }
            });
        };
    </script>
{% endblock %}
