{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block style %}
    {{ block.super }}
    <style>
        .navbar-nav {
            width: 100%;
            text-align: center;
        }
        .navbar-nav > li {
            float: none;
            display: inline-block;
        }
    </style>
    <link rel="stylesheet" type="text/css" href={% static "css/component.css" %}/>
    <script src={% static "js/modernizr.custom.js" %}></script>
{% endblock %}

{% block menu %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static "images/home_header.jpeg" %}">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <a href="{% url 'home' %}">
                        <div class="home-logo">
                            <img src="{% static "images/picstore_logo.png" %}">
                        </div>
                    </a>
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="search-box form-group form-group-material-brown">
                        <input onkeypress="add_tag_default(event);" id="search-box" class="form-control" type="text" placeholder="#" style="font-size: 25px" value="{{ search }}"/>
                        <div id="suggestion-container" class="suggestion-container">
                            <div id="box" class="dropdown-menu">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="navbar navbar-default navbar-material-brown">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav" style="text-align: center;">
                    {% if category %}
                        <li><a href="{% url "home" %}">{% trans "All" %}</a></li>
                    {% endif %}
                    {% for i_category in super_categories %}
                        {% if i_category.name != category %}
                            <li><a href="?category={{ i_category.name }}">{{ i_category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'upload' %}" role="button" class="btn btn-fab btn-material-amber upload_button mdi-file-cloud-upload" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans "Upload" %}"></a>
                {% else %}
                    <a href="{% url 'login' %}" role="button" class="btn btn-fab btn-material-amber upload_button mdi-file-cloud-upload" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans "Upload" %}"></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <ul class="grid effect-2" id="grid">
            {% for pic in pictures %}
                <li><a href="{% url "picture" pic.pk %}">
                    <img src="{{ pic.thumbnail.url }}" class="picture">
                </a></li>
            {% endfor %}
        </ul>
    </div>
    {% if not pictures %}
        <div class="row">
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>{% trans 'No results!' %}</strong>
            </div>
        </div>
    {% endif %}
    <div class="row download">
        <a href={% url "admin:index" %}>{% trans 'Admin panel' %}</a>
    </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src={% static "js/masonry.pkgd.min.js" %}></script>
    <script src={% static "js/imagesloaded.js" %}></script>
    <script src={% static "js/classie.js" %}></script>
    <script src={% static "js/AnimOnScroll.js" %}></script>
    <script>
        var aon = new AnimOnScroll( document.getElementById('grid'), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );

        var tags = {{ all_tags|safe }};
        var selected_tags = [];
        var selected_tag_index = 0;
        var search_box = document.getElementById("search-box");
        var suggestion_container = document.getElementById("suggestion-container");
        suggestion_container.hidden = true;
        var suggestion_box = document.getElementById("box");
        var words = [];
        search_box.focus();


        search_box.oninput = function() {
            words = search_box.value.split(" ");
            if (search_box.value.length == 0 || search_box.value[search_box.value.length - 1] == ' ') {
                suggestion_container.hidden = true;
                return;
            }
            var i;
            selected_tags = [];
            selected_tag_index = 0;
            for (i = 0; i < tags.length; i++) {
                if (tags[i].indexOf(words[words.length - 1]) == 0 && tags[i].length > words[words.length - 1].length) {
                    selected_tags.push(tags[i]);
                }
                if (selected_tags.length >= 5){
                    break;
                }
            }
            suggestion_container.hidden = selected_tags.length == 0;
            suggestion_box.innerHTML = "";
            for (i = 0; i < selected_tags.length; i++) {
                suggestion_box.innerHTML += '<li><a id="t' + i + '" role="button" onclick="add_tag(\'' + selected_tags[i] +
                        '\');">' + selected_tags[i] + '</a></li>';
            }
        };

        function add_tag(tag) {
            search_box.value = "";
            for (var i = 0; i < words.length - 1; i++) {
                search_box.value += words[i] + " ";
            }
            search_box.value += tag + " ";
            search_box.focus();
            suggestion_container.hidden = true;
            selected_tags = [];
        }

        function add_tag_default(event) {
            if (event.keyCode == 13) {
                if (selected_tags.length != 0) {
                    add_tag(selected_tags[selected_tag_index]);
                } else {
                    window.location.href = "?search=" + search_box.value;
{#                    search_box.value.split(" ")#}
                }
            } else if(event.keyCode == 38){
{#              Up                           #}
                selected_tag_index -= 1;
                selected_tag_index = (selected_tag_index + selected_tags.length) % selected_tags.length;
                select_item(selected_tag_index);
            } else if(event.keyCode == 40){
{#              Down                         #}
                selected_tag_index += 1;
                selected_tag_index = selected_tag_index % selected_tags.length;
                select_item(selected_tag_index);
            }
        }

        var old_index = 0;
        function select_item(index) {
            document.getElementById("t" + old_index).className = '';
            document.getElementById("t" + index).className = 'selected_item';
            old_index = index;
        }

    </script>
{% endblock %}

