{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block menu %}
    <div class="navbar navbar-default navbar-material-brown">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav" style="text-align: center;">
                    <li><a href="{% url "home" %}">
                        <div class="navbar-logo">
                            <img src="{% static "images/picstore_logo.png" %}">
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <div class="panel panel-material-brown">
                    <div class="panel-heading">
                        <h2 class="panel-title">{% trans 'Loging in or' %} <a href="{% url 'signup' %}" class="btn btn-material-brown btn-sm">{% trans 'Register' %}</a></h2>

                    </div>
                    <div class="panel-body">
                        {% if form.non_field_errors %}
                            <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form class="form-horizontal" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                                <label for="id_username" class="col-md-4 control-label">{% trans 'Username' %}</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="username" id="id_username" placeholder="{% trans 'Username' %}" type="text">
                                    {% for error in form.username.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                <label for="id_password"  class="col-md-4 control-label">{% trans 'Password' %}</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password" id="id_password" placeholder="{% trans 'Password' %}" type="password">
                                    {% for error in form.password.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" class="btn btn-material-amber">{% trans 'Log in' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}