{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block menu %}
    <div class="navbar navbar-default navbar-material-brown">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav" style="text-align: center;">
                    <li><a href="{% url "home" %}">
                        <div class="navbar-logo">
                            <img src="{% static "images/picstore_logo.png" %}">
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">

                <div class="panel panel-material-brown">
                    <div class="panel-heading">
                        <h2 class="panel-title">{% trans 'Registration' %}</h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username" class="col-md-4 control-label">{% trans 'Username' %}</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="username" id="id_username" placeholder="{% trans 'Username' %}" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_email" class="col-md-4 control-label">{% trans 'Email' %}</label>
                                <div class="col-md-8">
                                    <input class="form-control"  name="email" id="id_email" placeholder="{% trans 'Email' %}" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_password"  class="col-md-4 control-label">{% trans 'Password' %}</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password" id="id_password" placeholder="{% trans 'Password' %}" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_password2" class="col-md-4 control-label">{% trans 'Password again' %}</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password2" id="id_password2" placeholder="{% trans 'Password again' %}" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" class="btn btn-material-amber">{% trans 'Register' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}